[build]
  command = "npm run build"
  publish = "dist"

# Si usas rutas “pretty” (ej. /checkout) y quieres que Netlify sirva el index.html correspondiente:
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200